<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <link rel="stylesheet" href="./static/lib/css//bootstrap.min.css">
  <link rel="stylesheet" href="./static/lib/css/keen-dashboards.css">
  <link rel="stylesheet" href="./static/lib/css/dc.css">
  <link rel="stylesheet" href="./static/css/custom.css">
  <link rel="stylesheet" href="/style.css">


</head>
<body class="application">
  {% extends "navigation.html" %}
  {% block content %}


  <h1>Portfolio</h1>
  <h3>Welcome {{ user.firstname }}<h3>
    <h2>Cash Remaining: ${{user.cashRemaining}}</h2>
    <h2>Portfolio Worth: ${{user.portfolioWorth}}</h2>
    <h4> Past Trades </h4>
  <table class="table table-hover">
    <tr>
      <th>Ticker</th>
      <th>Purchase Price</th>
      <th>Date</th>
      <th>Quantity</th>
      <th>Total</th>
      <th>Current Price</th>
      <th>Change Since Purchase</th>
    </tr>
    {% for trade in portfolio %}
    <tr>
      <td>{{ trade.ticker }}</td>
      <td>${{ trade.price }}</td>
      <td>{{ trade.execution_date }}</td>
      <td>{{ trade.quantity }}</td>
      <td>${{trade.price * trade.quantity}}</td>
      <td>${{ trade.currentPrice }}</td>
      {% if ((trade.currentPrice - trade.price) / trade.price) > 0 %}
      <td class="positive"> + {{ (((trade.currentPrice - trade.price) / trade.price)*100)|round(3)}}%</td>
      {% elif  ((trade.currentPrice - trade.price) / trade.price) < 0 %}
      <td class="negative"> {{ (((trade.currentPrice - trade.price) / trade.price)*100)}}%</td>
      {% else %}
      <td class="no-change">+/- 0%</td>
      {% endif %}
    </tr>
    {% endfor %}

    {% for element in data %}
      {{ element }}
    {% endfor %}

  {% endblock %}
  <script src="./static/lib/js/jquery.min.js"></script>
  <script src="./static/lib/js/bootstrap.min.js"></script>
  <script src="./static/lib/js/crossfilter.js"></script>
  <script src="./static/lib/js/d3.js"></script>
  <script src="./static/lib/js/dc.js"></script>
  <script src="./static/lib/js/queue.js"></script>


  <script src="./static/lib/js/keen.min.js"></script>
  <script src='./static/js/graphs.js' type='text/javascript'></script>
</body>
</html>
